*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

body{
    background-color: #000;
}

#container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    border: 0px solid blue;
    perspective: 1000px;
    perspective-origin: center;
    overflow: hidden;
}

@keyframes anim1{
    0%{
        transform: translate3d(0px, 0px, -100vw);
    }
    50% {
        transform: translate3d(0px, 0px, 0vw);
    }
    100% {
        transform: translate3d(0px, 0px, -100vw);
    }
}


#screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    border: none;
    transform: translate3d(0vw, 0vw, 0vw);
    transform-origin: center;
}
.portal {
    top: 33.333vh;
    left: 33.333vw;
    width: 33.333vw;
    height: 33.333vh;
    transform: translateZ(0vw);
    position: absolute;
    border: 5px solid red;
    /* background-color: white; */
    transform-origin: center;
    /* clip-path: polygon(0px 0px, 0px 100px, 100px 100px, 0px 0px); */
}

.portal > .left-wall {
    position: absolute;
    transform-origin: left center;
    top: calc(-5px);
    left: calc(-5px);
    width: 330.333vw;
    height: 33.333vh;
    /* border: 5px solid red; */
    background-color: white;
    transform: rotateY(90deg);
}
