.portal > .left-wall {
    position: absolute;
    transform-origin: left center;
    top: 0px;
    left: 0px;
    background-color: red;
    transform: rotateY(90deg);
}

.portal > .right-wall {
    position: absolute;
    transform-origin: left center;
    top: 0px;
    background-color: green;
    transform: rotateY(90deg);
}
.portal > .top-wall {
    position: absolute;
    transform-origin: top center;
    top: 0px;
    left: 0px;
    background-color: blue;
    transform: rotateX(-90deg);
}
.portal > .bottom-wall {
    position: absolute;
    transform-origin: top center;
    left: 0px;
    background-color: yellow;
    transform: rotateX(-90deg);
}
.portal > .end {
    position: absolute;
    transform-origin: top center;
    top: 0px;
    left: 0px;
    background-color: white;
}
