.portal > .left-wall {
    position: absolute;
    transform-origin: left center;
    top: 0px;
    left: 0px;
    background-color: #eba99e;
    background-image: url("./img/wood-pattern.png");
    background-size: 8%;
    transform: rotateY(90deg);
    overflow: hidden;
}
.portal > .left-wall > .grid {
    position: absolute;
    top: 10%;
    left: 1%;
    bottom: 50%;
    right: 1%;
    box-sizing: border-box;
    border-color: #e58f80;
    border-style: solid;
    /* border-width: 5px; */
    background-color: #eba99e;
    background-image: url("./img/grid-pattern.svg");
    background-size: .7%;
}

.portal > .right-wall {
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
    top: 0px;
    background-color: #eba99e;
    background-image: url("./img/wood-pattern.png");
    background-size: 8%;
    background-position-x: 3%;
    transform: rotateY(90deg);
}
.portal > .right-wall > .painting {
    position: absolute;
    border: none;
    top: 20%;
    height: 60%;
    width: calc(100% / 4);
    background-color: white;
}
.portal > .right-wall > .painting.painting1 {
    left: calc(100% / 16);
}
.portal > .right-wall > .painting.painting2{
    left: calc(100% / 16 * 6);
}
.portal > .right-wall > .painting.painting3 {
    left: calc(100% / 16 * 11);
}

.portal > .top-wall {
    position: absolute;
    transform-origin: top center;
    top: 0px;
    left: 0px;
    background-color: #87ceeb;
    transform: rotateX(-90deg);
}
.portal > .bottom-wall {
    position: absolute;
    transform-origin: top center;
    left: 0px;
    background-color: #77dd77;
    transform: rotateX(-90deg);
}
.portal > .end {
    position: absolute;
    transform-origin: top center;
    top: 0px;
    left: 0px;
    background-color: #fff0b3;
}
